<div class="mx-auto max-w-7xl my-6">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs bg-gray-300 text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">
            Product name
          </th>
          <th scope="col" class="px-6 py-3">
            Codigo
          </th>
          <th scope="col" class="px-6 py-3">
            Category
          </th>
          <th scope="col" class="px-6 py-3">
            Price
          </th>
        </tr>
      </thead>
      <tbody id="productTable">
        {{#each products}}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{this.title}}
            </th>
            <td class="px-6 py-4">
              {{this.code}}
            </td>
            <td class="px-6 py-4">
              {{this.category}}
            </td>
            <td class="px-6 py-4">
              ${{this.price}}
            </td>
          </tr>
        {{/each}}

      </tbody>

    </table>
  </div>

</div>